<!-- product-add.component.html -->

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" >
      <div class="form-group">
        <label class="col-md-4">Nombre</label>
        <input type="text" class="form-control" 
          formControlName="GuestName"  #GuestName />
      </div>
      <div *ngIf="angForm.controls['GuestName'].invalid && (angForm.controls['GuestName'].dirty || angForm.controls['GuestName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['GuestName'].errors.required">
            requerido
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Direcci&oacute;n </label>
              <input type="text" class="form-control" 
          formControlName="LastName" 
          #LastName />
      </div>
      <div *ngIf="angForm.controls['LastName'].invalid && (angForm.controls['LastName'].dirty || angForm.controls['LastName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['LastName'].errors.required">
            requerido
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tipo</label>
        <input type="text" class="form-control" 
          formControlName="DocumentNumber" 
          #DocumentNumber
        />
      </div>
      <div *ngIf="angForm.controls['DocumentNumber'].invalid && (angForm.controls['DocumentNumber'].dirty || angForm.controls['DocumentNumber'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['DocumentNumber'].errors.required">
          requerido
        </div>
      </div>
      <div class="form-group">
        <button (click) = "addHotel(GuestName.value, LastName.value, DocumentNumber.value)" type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid" >
          Agregar Hotel
        </button>
	</div>
     </form>
  </div>
  <div *ngIf="showActionSuccess">
      <div role="alert" class="message important">
      El Hotel fue agregado satisfactoriamente.
      </div>
    </div>
</div>
