<div class="container">
    <div class="row custom-wrapper">
       <div class="col-md-12">
          <!-- Form starts -->
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
               <div class="group-gap">
                     <div class="d-block my-3">
                        <div class="mb-3">
                           <label class="col-md-10">Informaci&oacute;n de la reserva</label>
                           
                               <input matInput [matDatepicker]="checkin" placeholder="Entrada">
                               <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
                               <mat-datepicker #checkin></mat-datepicker>

                               <input matInput [matDatepicker]="checkout" placeholder="Salida">
                               <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
                               <mat-datepicker #checkout></mat-datepicker>
                           <!-- error block -->
                        </div>
                     </div>
                  </div>
          <div class="group-gap">
             <div class="d-block my-3">
                <div class="mb-3">
                   <select class="custom-select" (change)="changeRoom($event)" formControlName="roomnumber">
                      <option value="">Seleccione su habitaci&oacute;n</option>
                      <option *ngFor="let room of rooms" [ngValue]="room.id">{{room.number}} - {{room.Hotel.name}}</option>
                   </select>                                
                   <!-- error block -->
                   <div class="invalid-feedback" *ngIf="isSubmitted && roomnumber.errors?.required">
                      <sup>*</sup>Por favor seleccione la habitacion
                   </div>
                </div>
             </div>
          </div>
          <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <label class="col-md-2">Nombres</label>
                    <input type="text" class="form-control" 
                    formControlName="firstname"  #firstname />        
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && firstname.errors?.required">
                       <sup>*</sup>Por favor escriba su nombre
                    </div>
                 </div>
              </div>
           </div> 
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <label class="col-md-2">Apellidos</label>
                    <input type="text" class="form-control" 
                    formControlName="lastname"  #lastname />        
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && lastname.errors?.required">
                       <sup>*</sup>Por favor escriba su apellido
                    </div>
                 </div>
              </div>
           </div> 
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <label class="col-md-10">Fecha de Nacimiento</label>
                    ,<!--<input type="text" class="form-control" 
                    formControlName="birthdate"  #birthdate />        -->
                    
                        <input matInput [matDatepicker]="birthdate" placeholder="Fecha de Nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                        <mat-datepicker #birthdate></mat-datepicker>
                      
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && birthdate.errors?.required">
                       <sup>*</sup>Por favor escriba su apellido
                    </div>
                 </div>
              </div>
           </div> 
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <select class="custom-select" (change)="changeGender($event)" formControlName="gender">
                       <option value="">Seleccione g&eacute;nero</option>
                       <option *ngFor="let gender of Genders" [ngValue]="gender">{{gender}}</option>
                    </select>                                
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && gender.errors?.required">
                       <sup>*</sup>Por favor seleccione la habitacion
                    </div>
                 </div>
              </div>
           </div>
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <select class="custom-select" (change)="changeDocumentType($event)" formControlName="documenttype">
                       <option value="" >Seleccione tipo de documento</option>
                       <option *ngFor="let document of DocumentTypes" [ngValue]="document">{{document}}</option>
                    </select>                                
                    
                 </div>
              </div>
           </div>
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-10">
                    <label class="col-md-10">N&uacute;mero de Documento</label>
                    <input type="text" class="form-control" 
                    formControlName="documentnumber"  #documentnumber />        
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && documentnumber.errors?.required">
                       <sup>*</sup>Por favor escriba su email
                    </div>
                 </div>
              </div>
           </div>
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <label class="col-md-2">Correo electr&oacute;nico</label>
                    <input type="text" class="form-control" 
                    formControlName="email"  #email />        
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && email.errors?.required">
                       <sup>*</sup>Por favor escriba su email
                    </div>
                 </div>
              </div>
           </div>
           <div class="group-gap">
              <div class="d-block my-3">
                 <div class="mb-3">
                    <label class="col-md-2">Tel&eacute;fono</label>
                    <input type="text" class="form-control" 
                    formControlName="phone"  #phone />        
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && email.errors?.required">
                       <sup>*</sup>Por favor escriba su telefono
                    </div>
                 </div>
              </div>
           </div>
           <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">Agregar Reserva</button>
          </form><!-- Form ends -->
       </div>
       <div *ngIf="showActionSuccess">
          <div role="alert" class="message important">
          La RESERVA fue realizada satisfactoriamente.
          </div>
        </div>
      </div>
    
 </div>