<!-- product-get.component.html -->

<table class="table table-hover">
        <thead>
        <tr>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Habitaci&oacute;n/Hotel</td>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let guest of guests; let i = index">
                <td>{{ guest.firstname }}</td>
                <td>{{ guest.lastname }}</td>
                <td>{{ guest.Room.number }} - {{ guest.Room.Hotel.name }} </td>
                <td><a [routerLink]="['/edit', guest.id]" class="btn btn-primary">Editar</a></td>
                <td><a (click) = "deleteGuest(guest.id, i)" class="btn btn-primary">Eliminar</a></td>
  
            </tr>
        </tbody>
      </table>
      