<!-- product-get.component.html -->

<table class="table table-hover">
        <thead>
        <tr>
            <td>Piso</td>
            <td>N&uacute;mero</td>
            <td>Nombre Hotel</td>
            <td>Activa</td>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let room of rooms; let i = index">
                <td>{{ room.floor }}</td>
                <td>{{ room.number }}</td>
                <td>{{ room.Hotel.name }}</td>
                <td><input type="checkbox" id="active_hotel" value="" checked></td>
                <td><a [routerLink]="['/edit', room.id]" class="btn btn-primary">Editar</a></td>
                <td><a (click) = "deleteRoom(room.id, i)" class="btn btn-primary">Eliminar</a></td>
  
            </tr>
        </tbody>
      </table>
      