<div class="container">
        <h1>Hotel Link - Reservaciones</h1>
        
        <form class="form">
          <input type="text" #username name="username" placeholder="Username">
          <input type="password" #password name="password" placeholder="Password">
          <button type="submit" (click)="logIn(username.value, password.value, $event)"
           id="login-button">Entrar</button>
        </form>

            <div *ngIf="showErrorMessage">
                <h1>Usuario o Contraseña inválida</h1>
              </div>
</div>