<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" >
          <div class="form-group">
              <label class="col-md-4">Hotel</label>
              <select  type="text" class="form-control" formControlName="DocumentNumber" #DocumentNumber>  
                <option *ngFor="let hotel of hotels"  value="{{hotel.id}}">{{hotel.name}}</option>  
            </select>       
            </div>
    
        <div class="form-group">
          <label class="col-md-4">Piso</label>
          <input type="text" class="form-control" 
            formControlName="GuestName"  #GuestName />
        </div>
        <div *ngIf="angForm.controls['GuestName'].invalid && (angForm.controls['GuestName'].dirty || angForm.controls['GuestName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['GuestName'].errors.required">
            El Piso es requerido
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">N&uacute;mero </label>
                <input type="text" class="form-control" 
            formControlName="LastName" 
            #LastName />
        </div>
        <div *ngIf="angForm.controls['LastName'].invalid && (angForm.controls['LastName'].dirty || angForm.controls['LastName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['LastName'].errors.required">
          requerido
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Costo (Pesos)</label>
                  <input type="text" class="form-control" 
              formControlName="Price" 
              #Price />
          </div>
          <div class="form-group">
              <label class="col-md-4">Impuesto (Porcentaje)</label>
                    <input type="text" class="form-control" 
                formControlName="Tax" 
                #Tax />
            </div>    
        <div *ngIf="angForm.controls['DocumentNumber'].invalid && (angForm.controls['DocumentNumber'].dirty || angForm.controls['DocumentNumber'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['DocumentNumber'].errors.required">
            es requerido
          </div>
        </div>
        <div class="form-group">
          <button (click) = "addRoom(GuestName.value, LastName.value, DocumentNumber.value)" type="submit" class="btn btn-primary"
          [disabled]="angForm.pristine || angForm.invalid" >
            Agregar habitaci&oacute;n
          </button>
      </div>
       </form>

       
       <div *ngIf="showActionSuccess">
        <div role="alert" class="message important">
        La habitaci&oacute;n fue agregada satisfactoriamente.
        </div>
      </div>


    </div>
  </div>
  
