<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light" *ngIf="us.usserLogged">
  <div class="container-fluid" >
     <ul class="navbar-nav">
      <li class="nav-item">
            <a routerLink="hotel/create" class="nav-link" routerLinkActive="active">
              Agregar Hotel
            </a>
      </li>
      <li class="nav-item">
            <a routerLink="hotels" class="nav-link" routerLinkActive="active">
               Gestionar Hoteles
            </a>
      </li>
      <li class="nav-item">
        <a routerLink="room/create" class="nav-link" routerLinkActive="active">
          Agregar habitaci&oacute;n
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="rooms" class="nav-link" routerLinkActive="active">
          Gestionar Habitaciones
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="guest/create" class="nav-link" routerLinkActive="active">
          Agregar Reserva
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="guests" class="nav-link" routerLinkActive="active">
          Gestionar Reservas
        </a>
      </li>      
      <li class="nav-item">
          <a routerLink="login" class="nav-link" routerLinkActive="active">
            Salir
          </a>
        </li>      
    </ul>
  </div>
</nav>


<div class="container" >
  <router-outlet></router-outlet>
</div>
