<!-- hotel-get.component.html -->

<table class="table table-hover">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Direcci&oacute;n</td>
            <td>Tipo</td>
            <td>Activo</td>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let hotel of hotels; let i = index">
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.type }}</td>
                <td><input type="checkbox" id="active_hotel" value="" checked></td>
                <td><a [routerLink]="['/edit', hotel.id]" class="btn btn-primary">Editar</a></td>
                <td><a (click) = "deleteHotel(hotel.id, i)" class="btn btn-primary">Eliminar</a></td>
            </tr>
        </tbody>
      </table>
      